@mixin full-size {
    width: 100%;
    height: 100%;
}

@mixin item-size {
    width: 3.5rem;
    height: 3.5rem;
}

@mixin flip {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    backface-visibility: hidden;
    transition: transform .4s;
    pointer-events: none;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
}