@import "reset";
@import "_mixin";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

html {
  @include full-size;
}

body {
  @include full-size;
  font-family: "Nanum Gothic", sans-serif;
}

#index {
  @include full-size;
  position: relative;
  color: rgba(0, 0, 0, 0.75);
  background: #fafafa;

  aside {
    &:nth-child(1) {
      width: $aside1-width;
      @include aside;

      nav {
        @include nav;

        .menu {
          @include menu;
          gap: 1.5rem;
          padding-top: 1.5rem;

          .item {
            @include item;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem 0;
            gap: 0.5rem;
            position: relative;

            .em {
              @include em;
            }

            i {
              @include pointer-events-none;
              font-size: 1.25rem;
              padding: 0.25rem 0.75rem;
              border-radius: 1rem;
            }

            .text {
              @include pointer-events-none;
              font-size: 0.75rem;
              font-weight: bold;
            }

            &:hover i {
              @include hover;
            }

            .paint {
              opacity: 1;
            }
          }
        }

        .mode {
          @include mode;
          width: calc(100% - 1.5rem);
          height: $aside1-width - 1.5rem;
          margin: 0.75rem;
          border-radius: 50%;
          transform-style: preserve-3d;
          position: relative;

          .front {
            @include front;
            @include full-size;
            @include pointer-events-none;
            backface-visibility: hidden;
            position: absolute;
          }

          .back {
            @include back;
            @include full-size;
            @include pointer-events-none;
            backface-visibility: hidden;
            position: absolute;
            transform: rotateY(-180deg);
          }

          &:hover {
            @include hover;
          }

          .front.switch {
            transform: rotateY(180deg);
          }

          .back.switch {
            transform: rotateY(0deg);
          }
        }
      }
    }

    &:nth-child(2) {
      @include aside;
      width: $aside2-width;
      border-radius: 0 0.75rem 0.75rem 0;

      position: absolute;
      top: 0;
      left: 30%;

      nav {
        @include nav;
        padding: 1.5rem 0.5rem 0 0.5rem;

        .menu {
          @include menu;
          gap: 0.5rem;

          .item {
            @include item;
            padding: 0.75rem;
            border-radius: 2rem;
            gap: 1rem;

            i {
              @include pointer-events-none;
              font-size: 1rem;
            }

            .text {
              @include pointer-events-none;
              font-size: 1rem;
            }

            &:hover {
              @include hover;
            }
          }
        }

        .mode {
          @include mode;
          width: 100%;
          height: $aside1-width - 2.5rem;
          margin: 0.75rem 0;
          border-radius: 2rem;

          .front {
            @include front;
            @include full-size;
            @include pointer-events-none;
            padding: 0.5rem;
          }

          .back {
            @include back;
            @include full-size;
            @include pointer-events-none;
            padding: 0.5rem;
          }

          &:hover {
            @include hover;
          }

          .switch {
            transform: translateY(-100%);
          }
        }
      }
    }
  }

  .active {
    background: rgba(150, 150, 150, 0.1);
  }

  &.dark-mode {
    background: #212121;
    color: #bdbdbd;
  }

  header {
    @include header;

    .bar {
      width: 41px;
      font-size: 1.5rem;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 50%;

      &:hover {
        @include hover;
      }
    }

    .logo {
      display: flex;
      height: 2.5rem;
      gap: 0.75rem;
      padding: 0 0.75rem;
      align-items: center;
      position: relative;
      border-radius: 2rem;
      cursor: pointer;

      &::before {
        content: "";
        width: 2.5rem;
        height: 100%;
        background-image: url(../Img/심볼.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
      }

      &::after {
        content: "My Portfilo";
        font-weight: bold;
      }

      &:hover {
        @include hover;
      }
    }
  }
}
