@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* PC (해상도 1024px)*/
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
* {
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  list-style: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
}

#index {
  width: 100%;
  height: 100%;
  position: relative;
  color: rgba(0, 0, 0, 0.75);
  background: #fafafa;
}
#index aside:nth-child(1) {
  width: 5rem;
  height: 100%;
  background: #eceff1;
  transition: transform 0.4s ease;
  position: relative;
  z-index: 10;
}
#index aside:nth-child(1).dark-mode {
  background: #424242;
}
#index aside:nth-child(1).show {
  transform: translateX(0);
}
#index aside:nth-child(1) nav {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
#index aside:nth-child(1) nav .menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
}
#index aside:nth-child(1) nav .menu .item {
  display: flex;
  width: 100%;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  gap: 0.5rem;
  position: relative;
}
#index aside:nth-child(1) nav .menu .item .em {
  width: 0.3rem;
  height: 100%;
  background: steelblue;
  border-radius: 0 1rem 1rem 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#index aside:nth-child(1) nav .menu .item .em.dark-mode {
  background: indianred;
}
#index aside:nth-child(1) nav .menu .item i {
  pointer-events: none;
  font-size: 1.25rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}
#index aside:nth-child(1) nav .menu .item .text {
  pointer-events: none;
  font-size: 0.75rem;
  font-weight: bold;
}
#index aside:nth-child(1) nav .menu .item:hover i {
  background: rgba(150, 150, 150, 0.2);
}
#index aside:nth-child(1) nav .menu .item .paint {
  opacity: 1;
}
#index aside:nth-child(1) nav .mode {
  border-width: 1px;
  border-style: solid;
  border-color: #bdbdbd;
  cursor: pointer;
  width: calc(100% - 1.5rem);
  height: 3.5rem;
  margin: 0.75rem;
  border-radius: 50%;
  transform-style: preserve-3d;
  position: relative;
}
#index aside:nth-child(1) nav .mode.dark-mode {
  border-color: #757575;
}
#index aside:nth-child(1) nav .mode .front {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}
#index aside:nth-child(1) nav .mode .back {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  transform: rotateY(-180deg);
}
#index aside:nth-child(1) nav .mode:hover {
  background: rgba(150, 150, 150, 0.2);
}
#index aside:nth-child(1) nav .mode .front.switch {
  transform: rotateY(180deg);
}
#index aside:nth-child(1) nav .mode .back.switch {
  transform: rotateY(0deg);
}
#index aside:nth-child(2) {
  height: 100%;
  background: #eceff1;
  transition: transform 0.4s ease;
  width: 12.5rem;
  border-radius: 0 0.75rem 0.75rem 0;
  position: absolute;
  transform: translateX(-100%);
  z-index: 5;
}
#index aside:nth-child(2).dark-mode {
  background: #424242;
}
#index aside:nth-child(2).show {
  transform: translateX(0);
}
#index aside:nth-child(2) nav {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 4.5rem 0.5rem 0 0.5rem;
}
#index aside:nth-child(2) nav .menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}
#index aside:nth-child(2) nav .menu .item {
  display: flex;
  width: 100%;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 2rem;
  gap: 1rem;
}
#index aside:nth-child(2) nav .menu .item i {
  pointer-events: none;
  font-size: 1rem;
}
#index aside:nth-child(2) nav .menu .item .text {
  pointer-events: none;
  font-size: 1rem;
}
#index aside:nth-child(2) nav .menu .item:hover {
  background: rgba(150, 150, 150, 0.2);
}
#index aside:nth-child(2) nav .mode {
  border-width: 1px;
  border-style: solid;
  border-color: #bdbdbd;
  cursor: pointer;
  width: 100%;
  height: 2.5rem;
  margin: 0.75rem 0;
  border-radius: 2rem;
}
#index aside:nth-child(2) nav .mode.dark-mode {
  border-color: #757575;
}
#index aside:nth-child(2) nav .mode .front {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding: 0.5rem;
}
#index aside:nth-child(2) nav .mode .back {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding: 0.5rem;
}
#index aside:nth-child(2) nav .mode:hover {
  background: rgba(150, 150, 150, 0.2);
}
#index aside:nth-child(2) nav .mode .switch {
  transform: translateY(-100%);
}
#index .active {
  background: rgba(150, 150, 150, 0.1);
}
#index.dark-mode {
  background: #212121;
  color: #bdbdbd;
}
#index header {
  width: 100%;
  align-items: center;
  gap: 1.25rem;
  background: #eceff1;
  padding: 0.5rem 1.25rem;
  position: fixed;
  top: 0;
  z-index: 10;
}
#index header.dark-mode {
  background: #424242;
}
#index header .bar {
  width: 41px;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}
#index header .bar:hover {
  background: rgba(150, 150, 150, 0.2);
}
#index header .logo {
  display: flex;
  height: 2.5rem;
  gap: 0.5rem;
  padding: 0 0.75rem;
  align-items: center;
  position: relative;
  border-radius: 2rem;
  cursor: pointer;
}
#index header .logo::before {
  content: "";
  width: 2.5rem;
  height: 100%;
  background-image: url(../Img/심볼.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
#index header .logo::after {
  content: "My Portfilo";
  font-weight: bold;
}
#index header .logo:hover {
  background: rgba(150, 150, 150, 0.2);
}
#index .exit {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#index .exit.show {
  display: block;
}
#index .library {
  width: 12.5rem;
  height: 100%;
  flex-direction: column;
  gap: 0.75rem;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
  transition-delay: 0.25s;
  background: #eceff1;
  border-left: 1px solid rgba(150, 150, 150, 0.2);
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 5rem;
  z-index: 5;
  pointer-events: none;
}
#index .library.fix {
  transform: translateX(0);
  pointer-events: auto;
}
#index .library.show {
  transform: translateX(0);
  pointer-events: auto;
}
#index .library.dark-mode {
  background: #424242;
}
#index .library .book {
  display: flex;
  width: 100%;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
}
#index .library .book:hover {
  background: rgba(150, 150, 150, 0.2);
}

@media screen and (min-width: 1024px) {
  header {
    display: none;
  }
  .library {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    display: flex;
  }
  aside:first-child {
    display: none;
  }
  .library {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  header {
    display: flex;
  }
  aside:first-child {
    display: none;
  }
  .library {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */