/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  overflow: hidden;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
}

#index {
  width: 100%;
  height: 100%;
  position: relative;
  color: rgba(0, 0, 0, 0.75);
}
#index aside:nth-child(1) {
  width: 5rem;
  height: 100%;
  background: #efefef;
}
#index aside:nth-child(1) nav {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
#index aside:nth-child(1) nav .menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
}
#index aside:nth-child(1) nav .menu .item {
  display: flex;
  width: 100%;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  gap: 0.5rem;
  position: relative;
}
#index aside:nth-child(1) nav .menu .item .em {
  width: 0.3rem;
  height: 90%;
  background: steelblue;
  border-radius: 0 1rem 1rem 0;
  opacity: 0;
  position: absolute;
  top: 5%;
  left: 0;
}
#index aside:nth-child(1) nav .menu .item i {
  pointer-events: none;
  font-size: 1.25rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}
#index aside:nth-child(1) nav .menu .item .text {
  pointer-events: none;
  font-size: 0.75rem;
  font-weight: bold;
}
#index aside:nth-child(1) nav .menu .item:hover i {
  background: rgba(150, 150, 150, 0.2);
}
#index aside:nth-child(1) nav .menu .item .paint {
  opacity: 1;
}
#index aside:nth-child(1) nav .mode {
  border: 1px solid #bdbdbd;
  cursor: pointer;
  width: calc(100% - 1.5rem);
  height: 3.5rem;
  margin: 0.75rem;
  border-radius: 50%;
  transform-style: preserve-3d;
  position: relative;
}
#index aside:nth-child(1) nav .mode .front {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}
#index aside:nth-child(1) nav .mode .back {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  transform: rotateY(-180deg);
}
#index aside:nth-child(1) nav .mode:hover {
  background: rgba(150, 150, 150, 0.2);
}
#index aside:nth-child(1) nav .mode .front.switch {
  transform: rotateY(180deg);
}
#index aside:nth-child(1) nav .mode .back.switch {
  transform: rotateY(0deg);
}
#index aside:nth-child(2) {
  height: 100%;
  background: #efefef;
  width: 12.5rem;
  border-radius: 0 1rem 1rem 0;
  position: absolute;
  top: 0;
  left: 30%;
}
#index aside:nth-child(2) nav {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0.5rem 0 0.5rem;
}
#index aside:nth-child(2) nav .menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}
#index aside:nth-child(2) nav .menu .item {
  display: flex;
  width: 100%;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 2rem;
  gap: 1rem;
}
#index aside:nth-child(2) nav .menu .item i {
  pointer-events: none;
  font-size: 1rem;
}
#index aside:nth-child(2) nav .menu .item .text {
  pointer-events: none;
  font-size: 1rem;
}
#index aside:nth-child(2) nav .menu .item:hover {
  background: rgba(150, 150, 150, 0.2);
}
#index aside:nth-child(2) nav .mode {
  border: 1px solid #bdbdbd;
  cursor: pointer;
  width: 100%;
  height: 2.5rem;
  margin: 0.75rem 0;
  border-radius: 2rem;
}
#index aside:nth-child(2) nav .mode .front {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding: 0.5rem;
}
#index aside:nth-child(2) nav .mode .back {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding: 0.5rem;
}
#index aside:nth-child(2) nav .mode:hover {
  background: rgba(150, 150, 150, 0.2);
}
#index aside:nth-child(2) nav .mode .switch {
  transform: translateY(-100%);
}
#index .active {
  background: rgba(150, 150, 150, 0.1);
}/*# sourceMappingURL=main.css.map */