@import "reset";
@import "_mixin";
@import "_variable";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    box-sizing: border-box;
}

html {
    @include full-size();
}

body {
    @include full-size(); 
}

#index {
    @include full-size();
    font-family: 'Noto Sans KR', sans-serif;
}

aside {
    width: min-content;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
    nav {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        .menu {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            .list {
                @include item-size();
                background: lightcoral;
                cursor: pointer;
            }
        }

        .mode {
            @include item-size();
            transition: transform .2s;
            transform-style: preserve-3d;
            position: relative;
            cursor: pointer;

            .front {
                @include flip();
                background: lightpink;
                transform: rotateY(0deg);
                z-index: 5;
            }

            &:hover .front{
                transform: rotateY(180deg);
            }

            .back {
                @include flip();
                background: lightblue;
                transform: rotateY(-180deg);
                z-index: 0;
            }

            &:hover .back{
                transform: rotateY(0deg);
            }
        }
    }
}